<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortner | List of URLs</title>
</head>
<body>
    <h1>Welcome to URL Shortner Application :)</h1>

    <h2>List of URLs</h2>
    <% if (urls.length > 0) { %>
        <% urls.forEach(url => { %>
            <div style="padding: 10px; background-color: #f0f0f0; border: 1px solid #a0a0a0; border-radius: 5px; margin-bottom: 10px;">
                <h5>
                    Original URL: <a href="<%= url.originalUrl %>" target="_blank"><%= url.originalUrl %></a>
                </h5>
                <p>Short ID: <%= url.shortId %></p>
                <p>Created At: <%= url.createdAt %></p>
                <p>Visits Count: <%= url.visitHistory.length %></p>
                <p>Short URL: <a href="<%= protocol %>://<%= host %>/urls/<%= url.shortId %>" target="_blank"><%= protocol %>://<%= host %>/urls/<%= url.shortId %></a></p>
            </div>
        <% }) %>
    <% } else { %>
        <p>No URLs found.</p>
    <% } %>
</body>
</html>